.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.8rem 2rem;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.header-left {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.logo {
  height: 60px;
  margin-right: 10px;
}

.brand-name {
  font-size: 24px;
  font-weight: 500;
  color: #5a3e2b;
}

.search-box {
  flex: 1;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 0.4rem 1rem;
  margin: 0.5rem 1rem;
  min-width: 200px;
}

.search-box input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 0.4rem;
  font-size: 14px;
}

.search-icon {
  color: #888;
  margin: 0 8px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.btn-signup {
  background-color: #8b5e3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.login-text {
  background-color: #f5e7d3;
  color: #5a3e2b;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}


.user-icon {
  background-color: #8b5e3c;
  color: white;
  border-radius: 50%;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-box {
    width: 100%;
    margin: 1rem 0;
  }

  .header-right {
    width: 100%;
    justify-content: space-between;
  }

  .brand-name {
    font-size: 20px;
  }
}
