.signin-page {
  background-color: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-btn {
  background-color: #ff7a00;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.bottom-text {
  margin-top: 15px;
  font-size: 14px;
  color: white;
}

.bottom-text a {
  color: #00aaff;
  text-decoration: none;
}
