.calendar-container {
  border: 1.5px solid #a97c50;
  border-radius: 10px;
  padding: 1.5rem;
  width: 350px;
  background: #fff;
  margin: 0 auto;
}

.calendar-title {
  color: #a97c50;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.calendar-arrow {
  float: right;
  color: #a97c50;
  font-size: 1.3rem;
  cursor: pointer;
  margin-top: -2.2rem;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  text-align: center;
  margin-top: 1rem;
}

.calendar-day-header {
  color: #c2a48a;
  font-weight: 600;
  font-size: 1rem;
}

.calendar-day {
  color: #a97c50;
  background: #e9ded5;
  border-radius: 50%;
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1rem;
}

.calendar-day.selected {
  background: #a97c50;
  color: #fff;
}